# **Jour 42 : Startups dans le Marketing**

La base de données utilisée dans ce cas pratique renseigne sur quelques variables de l'activité économique de 50 Startups béninoises. Il s'agit des dépenses en Recherche et développement, Administration, Marketing, la ville de résidence et le profit généré.

## 0. Chargement des librairies

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

from sklearn.linear_model import LinearRegression

## 1. Importation de la base de données

In [2]:
df = pd.read_csv("../data/50_Startups_Multiple.csv")
df.head()

   R&D Spend  Administration  Marketing Spend    State     Profit
0  165349.20       136897.80        471784.10  Cotonou  192261.83
1  162597.70       151377.59        443898.53   Ouidah  191792.06
2  153441.51       101145.55        407934.54  Parakou  191050.39
3  144372.41       118671.85        383199.62  Cotonou  182901.99
4  142107.34        91391.77        366168.42  Parakou  166187.94

In [4]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

## 2. Traitement des variables catégorielles

In [5]:
labelEncoder = LabelEncoder()

X[:,3] = labelEncoder.fit_transform(X[:,3])

ct = ColumnTransformer([("auto", OneHotEncoder(), [-1])], remainder = 'passthrough')
X = ct.fit_transform(X)

In [14]:
X[0:2, :]

array([[1.0, 0.0, 0.0, 165349.2, 136897.8, 471784.1],
       [0.0, 1.0, 0.0, 162597.7, 151377.59, 443898.53]], dtype=object)

## 3. Division du dataset

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1234)

## 4. Construction du modèle

In [10]:
regressor = LinearRegression().fit(X_train, y_train)

## 5. Prédiction

Prédire le profit avec les critères suivants :
+ RD : 175000;
+ Administration : 90000;
+ Marketing : 45000;
+ State : Ouidah.

In [15]:
print(regressor.predict([[0, 1, 0, 175000, 90000, 45000]]))

[196392.67506606]